<div class="container schedulenew">
  <div class="row justify-content-center schedule">
    <h1>New Schedule</h1>
  </div>
  <div class="row justify-content-center schedule mr-5">
    <%= render 'form', schedule: @schedule %>
  </div>
</div>
