<div class="container">
  <%= render "layouts/header" %>
  <div class="row justify-content-center schedule mr-5">
    <h1>Editing Schedule</h1>
  </div>
  <div class="row justify-content-center schedule mr-5">
    <%= render 'form', schedule: @schedule %>
  </div>
  <div class="row justify-content-center schedule">
    <%= link_to '戻る', @schedule, class: "btn btn-outline-dark mr-2" %>
  </div>
</div>