<div class="container schedule">
  <%= render "layouts/header" %>
  <div class="row justify-content-center schedule">
    <h1>SCHEDULE</h1>
  </div>
  <div class="row justify-content-center schedule mb-3">
    <button type="button" class= "btn btn-outline-dark" data-toggle="modal" data-target="#modalForm1" data-cusno=1 data-visitday="2019-07-01">
      NEW SCHEDULE
    </button>
    <div class="modal fade" id="modalForm1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="modalForm4">
          <%= render "schedules/new", schedule: @schedule %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalForm2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="modalForm3" style="padding: 20px;">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <div id='calendar' style="padding: 0 0 50px 0;"></div>
    </div>
  </div>
</div>
