<div class="container">
<%= render "layouts/header" %>
  <h1>Schedules</h1>
  <%= link_to 'New Schedule', new_schedule_path, class: "btn btn-outline-dark" %>
  <div class="row" style="margin:50px;">
    <div id='calendar'></div>
  </div>
</div>