/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require flatpickr
 *= require flatpickr/themes/airbnb.css
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

.container{
  font-family: serif;
}

// スクロールバーを消している
html::-webkit-scrollbar {
    display:none;
}

.container.top{
  background-image: image-url("top.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.container.top h1{
  font-family: 'Mrs Saint Delafield', cursive;
  opacity: 0.7;
  margin: auto;
}

.container.devise {
  background-image: image-url("whitebook.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.container.devise h1{
  font-size: 60px;
}

.container.edit {
  background-image: image-url("books.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.row.edit{
  font-size: 25px;
  padding-top: 50px;
}

.row.edit h1{
  font-weight: 900;
}

.modal-content{
  background-image: image-url("search.jpg");
}

.pagination>li>a {
  border: none;
  color: black;
  background-color: rgba(0,0,0,0);
}

.page-item.active .page-link{
  background-color: black;
  color: white;
  border-radius: 40%;
}

.pagination>li>a:hover {
  color: black;
  background-color: rgba(0,0,0,0);
}

.field_with_errors {
  display: contents;
}

 #error_explanation{
   text-align: center;
 }

 #error_explanation ul{
   list-style: none;
 }
