// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.note {
  background-image: url(note.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.container.articles {
  background-image: url(books.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.row.articles{
  padding-top: 50px;
}

.row.articles td{
  font-size: 30px;
}

.row.name{
  padding-top: 20px;
}

.container.article {
  background-image: url(book.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.row.article {
  padding-top: 30px;
  font-size: 20px;
}

.row.article-title {
  padding-top: 30px;
  font-size: 30px;
}