// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.category {
  background-image: url(category.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

.row.category{
  padding-top: 50px;
}

.row.category td{
  font-size: 30px;
}

.container.categories {
  background-image: url(book.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}
