<div class="container categories">
  <div class="row justify-content-center category">
    <h1><%= @category.name %></h1>
  </div>
  <div class="row justify-content-center category">
    <table>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td class="pr-5"><%= article.created_at.strftime('%Y.%m.%d %H:%M') %></td>
            <td><%= link_to article.title, article_path(article), class: "text-dark" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>